[program:crawler_scheduler]
directory = @project_dir
command = @project_dir/crawler_scheduler -c ./configs/crawler_config.toml
numprocs = 1
autostart = true
autorestart = unexpected
startsecs = 5
startretries = 3
; user = root
redirect_stderr = true
stdout_logfile = none
stderr_logfile = none
stdout_logfile_maxbytes = 100MB
stdout_logfile_backups = 3
